/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 768px){
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,h3,ul,p{
    margin: 0;  
}

ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/*========== CLASS CSS ==========*/
.section{
    padding: 4rem 0 2rem;

    &-title, &-subtitle{
        text-align: center;
    }

    &-title{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-3);
    }
    &-subtitle{
        display: block;
        color: var(--first-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1)
    }
}

/*========== LAYOUT ==========*/
.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 0 1rem;
            text-align: center;
            background-color: var(--body-color);
            transition: .4s;
            box-shadow: 0 4px 4px rgba(0,0,0,.1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
        }
    }
    &__item{
        margin-bottom: var(--mb-2);
    }
    &__link, &__logo, &__toggle{
        color: var(--text-color);
        font-weight: var(--font-medium);
    }
    &__logo{
        &:hover{
            color: var(--first-color);
        }
    }
    &__link{
        transition: .3s;
        
        &:hover{
            color: var(--first-color);
        }
    }
    &__toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu{
    top: var(--header-height);
}
/* Active menu */
.active-link{
    color: var(--first-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;

    &:hover{
        background-color: var(--first-color-alt);
    }

    &__icon{
        font-size: 1.8rem;
        color: var(--body-color);
    }
}

.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/*========== HOME ==========*/
.home{
    &__container{
        height: calc(100vh - var(--header-height));
        align-content: center;
    }
    &__title{
        font-size: var(--biggest-font-size  );
        color: var(--first-color);
        margin-bottom: var(--mb-1);
    }
    &__subtitle{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-4);
    }
    &__img{
        width: 300px;
        height: 300px;
        position: relative;
        justify-self: center;
    }
}

/*========== BUTTONS ==========*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem; 
    transition: .3s;
    
    &:hover{
        background-color: var(--first-color-alt);
    }
}


/*========== ABOUT ==========*/
.about{
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-3);
    }
    &__img{
        position: relative;
        width: 280px;
        height: 280px;
        overflow: hidden;
        border-radius: .5rem;
        justify-self: center;
    }
}

/*========== SERVICES ==========*/
.services{
    &__container{
        row-gap: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    &__content{
        text-align: center;
    }
    &__img{
        width: 64px;
        height: 64px;
        fill: var(--first-color);
        margin-bottom: var(--mb-2);
    }
    &__title{
        font-size: var(--h3-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-1);
    }
    &__description{
        padding: 0 1.5rem;
    }
}

/*========== MENU ==========*/
.menu{
    &__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--container-color);
        border-radius: .5rem;
        box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
        padding: .75rem;
    }
    &__img{
        position: relative;
        width: 100px;
        height: 100px;
        align-self: center;
        margin-bottom: var(--mb-2);
    }
    &__name, &__preci{
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &__name{
        font-size: var(--normal-font-size);
    }
    &__detail, &__preci{
        font-size: var(--small-font-size);
    }
    &__detail{
        margin-bottom: var(--mb-1);
    }
    &__button{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        font-size: 1.25rem;
        padding: .625rem .813rem;
        border-radius: .5rem 0 .5rem 0;
    }
}

/*========== APP ==========*/
.app{
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-5);
    }
    &__stores{
        margin-bottom: var(--mb-4);
    }
    &__store{
        width: 120px;
        height: 36px;
        display: inline-block;
        position: relative;
        margin: 0 var(--mb-1);
    }
    &__img{
        position: relative;
        width: 230px;
        justify-self: center;
        >div{
            position: static!important;
        }
        img{
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

/*========== CONTACT ==========*/
.contact{
    &__container{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-3);
    }
}

/*========== FOOTER ==========*/
.footer{
    &__container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2rem;
    }
    &__logo{
        font-size: var(--h3-font-size);
        color: var(--first-color);
        font-weight: var(--font-semi-bold);
    }
    &__description{
        display: block;
        font-size: var(--small-font-size);
        margin: .25rem 0 var(--mb-3);
    }
    &__social{
        font-size: 1.5rem;
        color: var(--title-color);
        margin-right: var(--mb-2);
    }
    &__title{
        font-size: var(--h2-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-2);
    }
    &__link{
        display: inline-block;
        color: var(--text-color);
        margin-bottom: var(--mb-1);

        &:hover{
            color: var(--first-color);
        }
    }
    &__copy{
        text-align: center;
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        margin-top: 3.5rem;
    }
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
    .home__container,
    .about__container,
    .app__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about__data, .about__initial,
    .app__data, .app__initial,
    .contact__container, .contact__initial{
        text-align: initial;
    }

    .about__img, .app__img{
        width: 380px;
        height: 380px;
        order: -1;
    }

    .contact{
        &__container{
            grid-template-columns: 1.75fr 1fr;
            align-items: center;
        }
        &__button{
            justify-self: center;
        }
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 8rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);

        &__list{
            display: flex;
        }
        &__item{
            margin-left: var(--mb-5);
            margin-bottom: 0;
        }
        &__toggle{
            display: none;
        }
    }
    
    .change-theme{
        position: initial;
        margin-left: var(--mb-2);
    }

    .home__container{
        height: 100vh;
        justify-items: center;
    }

    .services__container,
    .menu__container{
        margin-top: var(--mb-6);
    }

    .menu{
        &__container{
            grid-template-columns: repeat(3, 210px);
            column-gap: 4rem;
        }
        &__content{
            padding: 1.5rem;
        }
        &__img{
            margin-bottom: 30px;
            width: 130px;
            height: 130px;
        }
    }

    .app__store{
        margin: 0 var(--mb-1) 0 0;
    }
}

@media screen and (min-width: 960px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .home__img{
        width: 480px;
        height: 480px;
    }

    .about__container, .app__container{
        column-gap: 7rem;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}

.image-container {
    width: 100%;

    >div {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}